{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>CRM клуба</title>
  <link rel="stylesheet" href="{% static 'core/base.css' %}">
</head>
<body>
    <div class="vertical-waves">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

<div class="entery">
  <h1>A CLUB - CRM</h1>
  <a href="/residents-page/" class="nav-button">Список резидентов</a>
  <a href="/events-page/" class="nav-button">Список ивентов</a>
</div>
</body>
</html>
