@font-face {
  font-family: 'Raleway';
  src: url('/static/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BEBAS';
  src: url('/static/fonts/BebasNeue_Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.nav-button {
  font-family: 'Raleway';
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #be0036;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 350px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    box-shadow:
    inset 0 20px 30px -20px rgba(255, 255, 255, 0.3),  /* верх */
    inset 0 -20px 30px -20px rgba(255, 255, 255, 0.3); /* низ */
    border: 1px solid white;
}
.nav-button:hover {
    background-color: white;
    color: #be0036;
}
.entery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   /* по вертикали */
    min-height: 100vh;         /* вся высота экрана */
    margin: 0 auto;
    text-align: center;
}
.entery h1{
  font-family: 'BEBAS';
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  margin: 0;
}


.vertical-waves {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  background: #4d0016;
}

.vertical-waves .wave {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-40%);
  opacity: 0.25;
  filter: blur(90px);
  animation: waveCurl 5s ease-in-out infinite;
  background: linear-gradient(to bottom, #9d002d, #be0036);
  clip-path: path("M0,0 C50,200 150,300 250,500 C350,700 450,600 550,800 C650,1000 750,900 850,1100 C950,1300 1050,1200 1150,1400 L1200,0 Z");
}

.vertical-waves .wave:nth-child(2) {
  background: linear-gradient(to bottom, #be0036, #9d002d);
  animation-delay: 4s;
  opacity: 0.2;
  clip-path: path("M0,0 C60,180 180,280 260,480 C360,680 460,580 580,780 C680,980 800,880 900,1080 C1000,1280 1120,1180 1200,1380 L1200,0 Z");
}

.vertical-waves .wave:nth-child(3) {
  background: linear-gradient(to bottom, #c00044, #6d0022);
  animation-delay: 8s;
  opacity: 0.15;
  clip-path: path("M0,0 C40,220 140,320 240,520 C340,720 440,620 540,820 C640,1020 740,920 840,1120 C940,1320 1040,1220 1140,1420 L1200,0 Z");
}

/* Живые колебания кудрей */
@keyframes waveCurl {
  0%, 100% {
    transform: translateX(-40%) scaleX(1);
  }
  50% {
    transform: translateX(-50%) scaleX(1.03) scaleY(1.02);
  }
}